.header {
    .container {

        .logowrapper {
            position: absolute;
            top: 20px;
            left: 80px;

            @media ((min-width:760px) and (max-width: 1024px)) {
                top: 20px;
                left: 10px;
            }
            @media (max-width: 640px) {
                top: 0px;
                left: 10px;
            }
        }

        .logo {
            padding: 20px 0 20px 20px;
            @media (max-width: 640px) {
                padding: 20px 0 0px 10px;
                width: 200px;
            }
        }

        .barras {
            position: fixed;
            top: 30px;
            right: 40px;
            cursor: pointer;
            z-index: 20;
            background-color: #616C5E;
            padding: 25px 15px;
            border-radius: 50%;
            @media (max-width: 640px) {
                top: 15px;
                right: 20px;
            }

        }

        .burger {
            width: 30px;

            &::after,
            &::before,
            & span {
                content: "";
                display: block;
                width: 90%;
                margin-left: 5%;
                height: 3px;
                background-color: #fff;
                position: relative;
                transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
            }

            &::after {
                top: -10px;
            }

            &::before {
                top: 10px;
            }
        }

        .burgerActive {
            &::after {
                top: -1px;
                transform: rotate(45deg);
                background-color: #fff;
            }

            &::before {
                top: 5px;
                transform: rotate(-45deg);
                background-color: #fff;

            }

            & span {
                transform: rotate(-45deg);
                opacity: 0;

            }
        }



        @media (min-width: 640px) {
            .container {
                max-width: 640px;
            }
        }

        @media (min-width: 768px) {
            .container {
                max-width: 768px;
            }
        }

        @media (min-width: 1024px) {
            .container {
                max-width: 1024px;
            }
        }

        @media (min-width: 1280px) {
            .container {
                max-width: 1280px;
            }
        }

        @media (min-width: 1536px) {
            .container {
                max-width: 1536px;
            }
        }
    }

    .navbar {
        background: #616C5E;
        min-height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 10;
        text-align: center;
        overflow: hidden;
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
        
        .wrapperas {

            width: 300px;

            a {

                overflow: hidden;
                display: flex;
                margin: 0 40px 10px 0;
                justify-content: flex-end;

                p {
                    position: relative;
                    color: white;
                    display: flex;
                    font-size: 1.6rem;
                    border-bottom: transparent 1px solid;
                    padding-bottom: 10px;
                    font-weight: 300;

                }
            }
        }



    }
}