.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #616C5E;
    overflow: hidden;

    .texto {
        color: #fff;
        padding: 160px 160px 160px 100px;

        h1 {
            font-size: 2rem;
            line-height: 2rem;
            margin-bottom: 40px;
            font-weight: bold;
        }

        p {
            font-size: 1.2rem;
            line-height: 1.8rem;
            margin-bottom: 20px;
            font-weight: 300;
            max-width: 580px;

        }

        button {
            background-color: #fff;
            color: #616C5E;
            font-size: 1.1rem;
            padding: 20px 40px;
            transition: all 400ms cubic-bezier(0.76, 0, 0.24, 1);
            margin-top: 30px;
            border-radius: 0;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
            }

            &:checked,
            &:focus {
                background-color: #eceaea;
            }

            @media (max-width: 768px) {
                margin-top: 30px;
                width: 100%;

            }
        }

        @media ((min-width:1025px) and (max-width: 1440px)) {
            padding: 160px 100px 160px 40px;

        }

        @media ((min-width:769px) and (max-width: 1024px)) {
            padding: 80px 80px;
        }

        @media (max-width: 768px) {
            padding: 80px 30px;
        }
    }

    .imagen {
        background-image: url(../../../public/bgnosotros1.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @media (max-width: 768px) {
            min-height: 400px;
        }

    }



    @media ((min-width:769px) and (max-width: 1024px)) {}

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);

        h2 {
            font-size: 1.8rem;
            line-height: 1.8rem;
        }

        p {
            font-size: 1.1rem;
            line-height: 1.5rem;
        }
    }
}


.wrapperdos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    background-color: #fff;
    .texto {
        color: #616C5E;
        padding: 160px 0px 160px 160px;

        h1 {
            font-size: 2rem;
            line-height: 2rem;
            margin-bottom: 40px;
            font-weight: bold;
        }

        p {
            font-size: 1.2rem;
            line-height: 1.8rem;
            margin-bottom: 20px;
            font-weight: 300;
            max-width: 580px;

        }

        button {
            background-color: #fff;
            color: #616C5E;
            font-size: 1.1rem;
            padding: 20px 40px;
            transition: all 400ms cubic-bezier(0.76, 0, 0.24, 1);
            margin-top: 30px;
            border-radius: 0;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
            }

            &:checked,
            &:focus {
                background-color: #eceaea;
            }

            @media (max-width: 768px) {
                margin-top: 30px;
                width: 100%;

            }
        }

        @media ((min-width:1025px) and (max-width: 1440px)) {
            padding: 160px 80px;

        }

        @media ((min-width:769px) and (max-width: 1024px)) {
            padding: 80px 80px;
        }

        @media (max-width: 768px) {
            padding: 80px 30px;
        }
    }

    .imagen {
        background-image: url(../../../public/bgnosotros2.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @media (max-width: 768px) {
            min-height: 400px;
        }

    }



    @media ((min-width:769px) and (max-width: 1024px)) {}

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);

        .texto {
            grid-column-start: 1;
            grid-row-start: 1;
        }

        h2 {
            font-size: 1.8rem;
            line-height: 1.8rem;
        }

        p {
            font-size: 1.1rem;
            line-height: 1.5rem;
        }
    }
}